.well.span12
  %h1
    Our Passion
  %br
    %p
      RebelHold was created to equalize the playing field for workers, providing full health care (with no co- pays), paid training, equal salaries, and to meet the physical and social needs of communities all around us. We believe that putting the means of production in the hands of the workers is a first step, and that training new people to be able to work in whatever capacity they can is valuable. Every worker is an owner, all decisions are made by consensus, and every worker has the combined responsibility of train- ing others. We are highly motivated to taking care of the needs of others through this process; and open to other processes to help.
    %br
    %h2
      Goals
    %br
      %p
        To create a mass of workers on equal grounds with each other who are taken care of completely; to pour ourselves in to improving the communities around us through training, through direct action, and through charity as needed; to communicate well with others; and to make high quality software that we can be proud of.
    %h2
      Solution
    %br 
    %p
      Us.
    %p
      We believe that through working under such equal conditions, both to us and our clients, and through such revolutionary processes as being honest with each others skill sets, teaching each other, growing in a community that seeks the most quality out of everything that we do, that we will create great software.
    %p
      Some of the tools we use to hone this process include frameworks, such as Ruby on Rails, methodologies, like Agile Development and Scrum, elastic data stores, MongoDB being our favorite, and cloud servers like Heroku. Other steps include lots of travel, a reasonable week of around 30 hours per week, and lots of pair programming; as well as constant experimentation and open source contributions.
    %p
      We are also looking for ways to build passive income in order to put us on sound financial footing out- side of client work. Some of the passive income ideas include equity in clients, software services, and applications brought to markets such as mobile marketplaces.