.well.span12
  %h1
    Contact Us
  %br
  .row-fluid
    %h3
      Need more Information or are you ready to start?  We can be reached at:
    %br
      %p
        Phone: (480) 442-3420 or
      %p
        Email us at: riseup@rebelhold.com
      