%form.form-horizontal
  %fieldset
    %legend
    Legend text
    %div.control-group
      %label.control-label
      Text input
      %div.controls
        %input
        %p.help-block
        Supporting help text
