.well.span12
  .row-fluid
  .span8
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas aliquet faucibus. Fusce eu est eget arcu dignissim pellentesque et sagittis diam. Proin magna nibh, fermentum quis elementum in, auctor vitae arcu. In a velit sapien. Nunc iaculis molestie enim, sit amet placerat sapien molestie sit amet. Vivamus velit sapien, porttitor at semper at, aliquam nec felis. Proin mattis leo ut mi lacinia sed ultrices erat suscipit.
    %p
      Suspendisse nec faucibus sem. Etiam id metus auctor felis facilisis interdum. Nam ac ipsum malesuada tellus facilisis aliquet a quis leo. Proin ac vulputate nulla. Ut iaculis tincidunt venenatis. In hac habitasse platea dictumst. Proin commodo vehicula porta. Quisque iaculis, nibh et luctus suscipit, turpis ipsum vehicula lorem, quis congue erat dolor ac odio. Duis cursus vulputate tortor, vel volutpat lectus tempus non. Phasellus blandit accumsan velit, id blandit turpis gravida nec. Donec consequat libero quis urna euismod rhoncus. Quisque sed purus vel dui tincidunt malesuada. Suspendisse id lacus nulla. Nulla vitae diam quam. Etiam quam urna, adipiscing sit amet lacinia non, aliquam ut mi. Nunc tincidunt nulla quis purus tristique scelerisque.
    %p
      Vivamus ac vestibulum lorem. Donec euismod arcu in purus volutpat vel gravida eros vehicula. Mauris lacinia blandit sem, ac consequat enim euismod nec. Integer ornare vehicula lectus id condimentum. Aliquam faucibus pharetra nisl at pellentesque. Aliquam malesuada dapibus libero, id ullamcorper urna lobortis quis. Nullam eget ante sit amet dolor iaculis feugiat. Ut a risus quam, vitae dignissim massa. Quisque diam nunc, sodales vel pellentesque sit amet, porttitor id nulla. In elit risus, feugiat ut aliquam et, semper non tellus. Mauris facilisis ligula vitae arcu faucibus ut pharetra quam fringilla. Vivamus magna diam, tristique lobortis rutrum sit amet, ultricies vel sem. Phasellus ullamcorper, ligula ut ullamcorper commodo, nibh libero sollicitudin diam, et imperdiet tortor elit vel nibh. Donec eu mi eros, sed pulvinar erat.

  
  .span3
    %p
      Vivamus ac vestibulum lorem. Donec euismod arcu in purus volutpat vel gravida eros vehicula. Mauris lacinia blandit sem, ac consequat enim euismod nec. Integer ornare vehicula lectus id condimentum. Aliquam faucibus pharetra nisl at pellentesque. Aliquam malesuada dapibus libero, id ullamcorper urna lobortis quis. Nullam eget ante sit amet dolor iaculis feugiat. Ut a risus quam, vitae dignissim massa. Quisque diam nunc, sodales vel pellentesque sit amet, porttitor id nulla. In elit risus, feugiat ut aliquam et, semper non tellus. 

    