.well.span12
  %h1
    Our Services
  %br
    %h2
      Web Consulting
    %p
      We are providing web consultation at a reasonable price and with a vested interest in each client we en- gage with. Our ideal clients are making a social or just impact with their projects, seek to have a well tested project, and are open to having daily and weekly conversations over the progress of their project.
  %br
    %h2
      Web Services
    %p
      We are currently in the process of developing several web services including:
      %ul
        %li
          A Platform Independent Gaming API Service
        %li
          A Facebook Game Creation Service